#reward-zone-status-container {
    display: flex;
    flex-direction: row;
    margin: 19px 27px;
    padding: 8px 2px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgb(95 97 101 / 40%);
    height: 102px;
}

.reward-zone-status-logo {
    width: 24%;
    float: left;
    text-align: center;
}

.reward-zone-status-divider {
    float: left;
    box-sizing: border-box;
    width: 1px;
    border: 1px dashed #B1BCC2;
    opacity: 0.4;
    margin-left: 4px;
}

.reward-zone-status-content {
    width: 74%;
    float: left;
    padding-left: 10px;
    cursor: pointer;
}

.reward-zone-status-progress {
    height: 7px;
    width: 95%;
    opacity: 0.6;
    transform: scaleY(-1);
    border-radius: 10px;
    background-color: #DBDDDE;
}

.reward-zone-status-msg {
    height: 20px;
    color: #808A8F;
    font-size: 12px;
    letter-spacing: -0.03px;
    line-height: 19.6px;
}

.reward-zone-status-benefit-msg {
    height: 20px;
    color: #706AE2;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: -0.02px;
    line-height: 19.6px;
    display: inline-block;
    padding-left: 6px;
    text-decoration: underline;
}

.reward-zone-invite-container {
    background-image: url("../../assets/img/rewardZone/invite_bg.png");
    background-repeat: no-repeat;
    height: 65px;
    margin: 19px 27px;
    padding: 8px 2px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgb(95 97 101 / 40%);
}

.reward-zone-handpicked-header {
    height: 20px;
    width: 344px;
    color: #3F4045;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.04px;
    line-height: 19.6px;
    margin: 27px 19px 19px 27px;
}

.reward-zone-invite-logo {
    width: 20%;
    float: left;
    text-align: center;
}

.reward-zone-invite-content {
    width: 80%;
    float: left;
    padding-left: 10px;
}

#reward-zone-container h5 {
    height: 20px;
    color: #3F4045;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.04px;
    line-height: 19.6px;
}

.reward-zone-handpicked-items {
    margin: 0px 20px 20px 20px;
    display: flow-root;
}

#reward-zone-detail-box-container {
    width: 100%;
    display: inline-block;
    padding: 20px 0 27px 0;
}

#reward-zone-detail-box-container .detail-box-content {
    width: 46%;
    display: flex;
    flex-direction: row;
    float: left;
    padding: 8px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgb(95 97 101 / 40%);
    cursor: pointer;
}